
.shop {
  width: 100vw;
  height: 100vh;
}

.shop-content {
  min-height: calc(100vh - 60px);
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
}

.h1 {
  padding: 20px 0px;
  font-size: 40px;
}

.listings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}